{% extends 'base.html.twig' %}

{% block title %}Edit Animaux{% endblock %}

{% block body %}
    <h1>Edit Animaux</h1>

    {{ include('animaux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_animaux_index') }}">back to list</a>

    {{ include('animaux/_delete_form.html.twig') }}
{% endblock %}
